POSTGRES_URL="your-vercel-postgres-url"
POSTGRES_PRISMA_URL="your-vercel-postgres-prisma-url"
POSTGRES_URL_NON_POOLING="your-vercel-postgres-non-pooling-url"
POSTGRES_USER="your-postgres-user"
POSTGRES_HOST="your-postgres-host"
POSTGRES_PASSWORD="your-postgres-password"
POSTGRES_DATABASE="your-postgres-database"

RESEND_API_KEY="re_xxxxxxxxx"
SIGNATURE_NOTIFICATION_EMAIL="sonkebusiness@gmail.com"
SIGNATURE_FROM_EMAIL="onboarding@resend.dev"
